:root {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#div_botoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto auto 8rem;
    max-width: fit-content;
}

button {
    width: 23.6875rem;
    height: 4.875rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #000;

    /*Texto*/
    color: #FFF;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
}