body {
  display: flex;
  background-image: url(/src/media/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}

#div_botoes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem auto 5rem 10rem;
}

button {
  width: 23.6875rem;
  height: 4.875rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background: #000;

  /*Texto*/
  color: #FFF;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#bt_reg {
  width: 12rem;

  display: flex;
  position: absolute;
  top: 33rem;
  left:65rem; 
}